.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputs {
  flex-direction:column;
  display:flex;
  width:25%;
  height:25%;
  font-Size:30px;
  font-size: medium;
  padding:20px;
}

.results {
padding:20px;
background-color: rgb(15, 144, 184);
flex-direction:column;
padding:20px;
display:flex;
justify-content: space-evenly;
}

.restaurant{
  background-color: rgb(64, 116, 13);
  padding:25px;
}
